a.scroll-to-top-link {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    position: fixed;
    bottom: 100px;
    right: 40px;
    display: none;
    text-indent: -9999px;
    background-image: url(../img/icon_top.png);
    background-repeat: no-repeat;
    outline: none;
}
a.scroll-to-top-link:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}